.nav_menu {
	align-items: center;
	justify-content: center;
}
.nav_menu>li {
	position: relative;
	transition: all .3s ease-in;
}
.nav_menu>li>a {
	color: #fef3e3 !important;
	display: block;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s ease 0s;
}
.nav_menu>li>a:hover {
	background: #0e7575;
}
.nav_menu>li>a:hover {
	color: #fff;
}
.submenu {
	z-index: 99999999;
}
.submenu>li {
	white-space: nowrap;
}
.menu_head a {
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 1.3;
	padding-bottom: 18px;
	padding-top: 24px;
	display: block;
	text-decoration: none;
}
.submenu_list li,
.menu_head a {
	white-space: normal;
}
.submenu_list>li>a {
	color: #fff;
	display: block;
	font-size: 1.6rem;
	padding: 8px 0px;
	text-decoration: none;
	transition: all .3s ease 0s;
}
.position_right {
	right: 0px;
}
.submenu_info {
    align-items: flex-start;
    background: #352c26;
    color: #fff;
    display: none;
    font-size: 1.6rem;
    left: 0px;
    margin: 0px auto;
    max-width: calc(100% - 120px);
    padding: 25px 54px 25px 30px;
    position: absolute;
    right: 0px;
    top: 100%;
    transition: all .3s ease-in;
    white-space: normal;
}
.submenu_info::before {
	content: "";
	position: absolute;
	top: -8px;
	left: 5.8%;
	width: 8px;
	height: 10px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 10px solid #352c26;
}
.submenu_info_ico .fas {
	font-size: 6.4rem;
	padding-right: 15px;
}
.nomax_width {
	max-width: none !important;
}
.submenu_list>li:hover .submenu_info {
	display: flex;
}